body { 
    font-family: Arial, sans-serif; 
    background: rgb(193, 113, 113);
     margin: 0; 
     padding: 0;
     }

     .container { 
        display: flex; 
        justify-content: center; 
        align-items: center; 
        height: 100vh;
     }
    .card { 
        background: rgb(128, 96, 96); 
       
        padding: 20px; 
        border-radius: 8px;
         box-shadow: 0 2px 12px rgba(255, 255, 255, 0.2);
          width: 300px; 
          text-align: center;
         }

    input { 
        width: 90%; 
        padding: 8px;
         margin: 8px 0; 
         font-size: 16px;
         }

    button { 
        padding: 10px 20px;
         font-size: 16px; 
         cursor: pointer;
          margin-top: 10px; 
        }

    #moviePage {
         display: none;
          padding: 20px; 
        }
    #movieList {
         display: grid; 
         grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
          gap: 15px; 
          list-style: none;
           padding: 0;
         }

    .movie-card {
         background: white;
          border-radius: 8px;
           box-shadow: 0 2px 6px rgba(255, 255, 255, 0.2); 
           overflow: hidden;
            text-align: center; 
            padding-bottom: 10px; 
        }

    .movie-card img 
    { width: 100%; 
        height: 300px;
         object-fit: cover; 
        } 